.filters {
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 12px;
  padding-bottom: 20px;

  height: fit-content;
  min-width: 250px;
  width: 250px;
  border-radius: var(--radius);
  background-color: #fff;
}

.filters__inner {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

@media screen and (max-width: 850px) {
  .filters.filters--open {
    position: fixed;
    top: auto;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25), 0 0 12px rgba(0, 0, 0, 0.22);
  }

  .filters.filters--close {
    display: none;
  }
}